.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    background-color: white;
    border: 1px solid silver;
    padding: 40px 8px 0;
    max-width: 40%;
    overflow: scroll;
}

#alert-context {
    display: none;
}

.alert-context-header a {
    padding-left: 8px;
}

.alert-context-content {
    margin-top: 20px;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}
